name = "tritalk-backend"
main = "src/index.ts"
compatibility_date = "2024-12-01"


# All environment variables are managed in Cloudflare Dashboard:
# Settings -> Variables and Secrets


[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
invocation_logs = true
