name = "tritalk-backend"
main = "src/server.ts"
compatibility_date = "2024-12-01"


# All environment variables are managed in Cloudflare Dashboard:
# Settings -> Variables and Secrets (for API Keys / Secrets)

[vars]
OPENROUTER_CHAT_MODEL = "google/gemini-3-flash-preview"
OPENROUTER_TRANSCRIBE_MODEL = "google/gemini-2.5-flash-lite"

AZURE_SPEECH_REGION = "westus2"

GCP_PROJECT_ID = "zinc-epigram-476407-u9"
GCP_CLIENT_EMAIL = "openrouter-bot@zinc-epigram-476407-u9.iam.gserviceaccount.com"
GCP_REGION = "us-central1"
## TODO(cyb): change this to public in main
SUPABASE_SCHEMA = "tritalk_schema"

# Scheduled tasks (Cron Triggers)
# 定时任务 - 每小时清理过期订阅
[triggers]
crons = ["0 * * * *"]

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
invocation_logs = true
