name = "tritalk-backend"
main = "src/index.ts"
compatibility_date = "2024-12-01"


# All environment variables are managed in Cloudflare Dashboard:
# Settings -> Variables and Secrets (for API Keys / Secrets)

[vars]
OPENROUTER_CHAT_MODEL = "google/gemini-3-flash-preview"
OPENROUTER_TRANSCRIBE_MODEL = "google/gemini-2.0-flash-lite-001"
MINIMAX_DEFAULT_VOICE_ID = "English_Trustworthy_Man"


[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
invocation_logs = true
