name: Deploy DB to Prod

on:
  push:
    tags:
      - "v*"

jobs:
  deploy-prod:
    name: Deploy to Production Environment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Link and Push to Prod DB
        run: |
          cd backend
          npx supabase link --project-ref ${{ secrets.SUPABASE_PROD_PROJECT_REF }}
          npx supabase db push
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_PROD_DB_PASSWORD }}
